<!DOCTYPE HTML>
<html>
  <body>
    <% @comedians.each do |comedian| %>
      <div id="id_<%= comedian.id %>">
        <ul>
          <li><%= comedian.name %></li>
          <li><%= comedian.age %></li>
          <% if comedian.specials %>
            <% comedian.specials.each do |special| %>
            <ul id="<%= comedian.name %>'s Specials:'">
              <li><%= special.name %></li>
            </ul>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </body>
</html>