<!DOCTYPE HTML>
<html>
  <body>
  <h1 class="header">Comedians</h1>
    <% @comedians.each do |comedian| %>
      <div class="comedian" id="id_<%= comedian.id %>">
        <ul>
          <li>Name: <%= comedian.name %></li>
          <li>Age: <%= comedian.age %></li>
        </ul>
        <% if comedian.specials %>
            <p>Special Count: <%= comedian.specials_count %></p>
            <ul class="specials">
            <% comedian.specials.each do |special| %>
              <li><%= special.name %></li>
            <% end %>
            </ul>
          <% end %>
      </div>
    <% end %>
    <p class="average-age">Average age of comedians: <%= @average_age %></p>
  </body>
</html>